.stone {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.stone-point-wrapper .stone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.stone-color--white,
.stone-color--black {
    box-shadow: var(--stone-shadow) 0 3px 8px 0;
}
.stone-color--white {
    background-color: #ffffff;
}

.stone-color--black {
    background-color: #000;
}
