:root {
    --line-color: #c0c0c0;
    --star-point-color: #707070;
    --board-border-color: #303030;
    --board-bg-color: #f7e8aa;
    --stone-shadow: #3d3d3d4f;
}

body {
    font-family: Microsoft YaHei;
}
